* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  /* position: relative; */
}

.box {
  text-align: center;
}

.btn {
  padding: 10px;
  margin: 1rem 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
}

#btnYes {
  background: green;
}

#btnNo {
  background: red;
  position: absolute;
}

#btnYes:active {
  background-color: yellow;
}

#btnNo:active {
  background-color: yellow;
}
